body{
    min-width: 100%;
    min-height: 100vh;
}
.topbar{
    width: 100%;
    height: auto;
    background-color: #003366;
}
.social-icons A{
    color: #fff;
    margin-left: 10px;
    padding: 5px;
}
.top-icon{
    margin-left: 10px;
}

/* navbar styling */

#main-links li a{
    color: #fff;
    font-size: 14px;
    font-family: verdana;
}
.main{
    width: 100%;
    height: 500px;
    display: table;
    position: relative;
    text-align: center;
    background: url('images/main.jpeg') no-repeat fixed;
    background-size: cover;
}
.main-content{
    top: 30%;
    left: 30%;
    color: #fff;
    position: absolute;
    font-family: verdana;
    vertical-align: middle;
    text-transform: capitalize;
}
.main-content h1{
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px #003366;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}
.main-content p{
    font-size: 1.5rem;
    font-family: georgia;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}
.main-content a{
    color: #fff;
    font-family: verdana;
    background: #6495ed;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
}
.main-content a:hover{
    color: #fff;
    background: #003366;
}

/* about section styling*/

/* same style for section headers 
    site-info, services and portfolio  */
#site-info-header, .service-header, 
.port-header{
    width: 100%;
    color: #6495ed;
    font-weight: bold;                      
    padding: 5%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
#site-info-header span, .service-header span, 
.port-header span{
    color: #003366;
}
.site-video{
    width: 100%;
    height: auto;
    border: solid transparent;
}
#site-content{
    color: #696969;
    font-family: calibri;
}
#sub-header{
    color: #696969;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
iframe{
    border: #6495ed solid;
}
#site-btn{
    color: #fff;
    background: #6495ed;
}

/* services corner styling*/

.jumbotron{
    margin-top: 10%;
}
.card{
    box-shadow: 5px 5px 10px #696969;
}
#service-icon{
    color: #6495ed;
    padding: 10px;
}
.card-header{
    width: 100%;
    height: auto;
    text-align: center;
    text-transform: capitalize;
}
.card-header h4{
    color: #003366;
    font-family: cambria;
}
.card-body{
    width: 100%;
    height: auto;
    font-family: cambria;
    border-bottom: #6495ed solid 5px;
}

/* portfolio section styling */
.savy-port-tabs li a{
    color: #003366;
    font-weight: bold;
    text-transform: uppercase;
}
.savy-port-tabs li a:hover{
    color: #fff;
    background-color: #6495ed;
}
.all-cont img{
    width: 100%;
    height: 200px;
    padding-top: 5%;
}
.tab-content{
    padding-top: 6%;
}

/* brands section styling */
.savy-brand{
    width: 100%;
    margin-top: 10%;
    left: 20px;
}
.savy-brand img{
    width: 150px;
    height: 100px;
    left: 10px;
}
/* footer styling */
.footer-content{
    width: 100%;
    height: auto;
    background: #003366;
}
.footer-content .container{
    padding-top: 6%;
}
.footer-header{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-text{
    color: #fff;
    font-style: italic;
}
#links-header, .footer-links li a{
    color: #fff;   
    padding-left: 8%;
    text-transform: capitalize;
}



/* media queries */
@media(max-width: 768px){
    #main-links{
        margin-left: 0;
    }
    .info-col,.card{
        padding: 6%;
    }
    iframe{
        width: 100%;
    }
    #links-header, .footer-links li a{
       padding-top: 5%;
       padding-left: 2%;
    }
}

